html, body, #map { height: 100%; margin: 0; }
#map { background: #000; }
#reveal { position: absolute; top: 10px; left: 10px; z-index: 1000; }
#guess { position: absolute; top: 10px; left: 150px; z-index: 1000; }
#score { position: absolute; top: 10px; right: 10px; color: #fff; z-index: 1000; }
